

<div class="sufee-login d-flex align-content-center flex-wrap" >
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="images/logo.png" alt="">
                </a>
            </div>
            <div class="login-form">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Tên tài khoản</label>
                        <input type="text" formControlName="username" placeholder="Tên tài khoản" class="form-control">
                    </div>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Chưa nhập tài khoản!</div>
                    </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password" placeholder="Mật khẩu" class="form-control">
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Chưa nhập mật khẩu!</div>
                    </div>
                            <div class="checkbox">
                                <label>
                            <input type="checkbox"> Nhớ Password!
                        </label>
                                <label class="pull-right">
                            <a href="#">Quên Password?</a>
                        </label>

                            </div>
                            <button [disabled]="loginForm.invalid || loading" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Đăng Nhập</button>
                            <div class="register-link m-t-15 text-center" >
                                <p style="color: black;">Bạn quên tài khoản ? <a href="#"> Đăng nhập tại đây</a></p>
                            </div>
                </form>
            </div>
        </div>
    </div>
</div>


