
 <div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>TRƯỜNG THPT Trưng Vương</h1>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title" >QUẢN LÝ GIÁO VIÊN</strong>
                        <p class="pull-right">
                            <a (click)="createModal()" class="btn btn-success btn-xs" style="color: white;">
                            <i class="fa fa-plus"></i>&nbsp;Thêm
                            </a>
                        </p>
                    </div>

                    <div class="card-body">
                      <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
                        <div class="row form-group">
                          <div class="col-sm-6">
                            <input formControlName="hoten" class="form-control"  type="text" placeholder="Họ Tên" style="width: 100%;" />
                          </div>
                          <div class="col-sm-3">
                            <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                          </div>
                        </div>
                      </form>
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th >Môn Dạy</th>
                                    <th >Tổ Dạy</th>
                                    <th >Họ Tên</th>
                                    <th >Ngày Sinh</th>
                                    <th >Địa Chỉ</th>
                                    <th >SĐT</th>
                                    <th >Chức Vụ</th>
                                    <th >Mã Lớp</th>
                                    <th>Tác Vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let item of giaoviens, let i = index">
                                <tr>
                                  <td>{{i+1}}</td>
                                    <td>{{ item.monDay }}</td>
                                    <td>{{item.toDay}}</td>
                                    <td>{{item.hoTen}}</td>
                                    <td>{{ item.ngaySinh| date:'dd-MM-yyyy'  }}</td>
                                    <td>{{ item.diaChi }}</td>
                                    <td>{{ item.sdt }}</td>
                                    <td>{{ item.chucVu }}</td>
                                    <td>{{ item.maLop }}</td>
                                    <td class="action-col" >
                                        <div class="btn-group">
                                          <button title="" class="btn btn-xs btn-white btn-default" (click)="openUpdateModal(item)">
                                            <i class="ace-icon fa fa-edit"></i>
                                          </button>
                                          <button title="" class="btn btn-xs btn-white btn-default"(click)="onDelete(item)">
                                            <i class="ace-icon fa fa-trash"></i>
                                          </button>
                                        </div>
                                      </td>
                                </tr>
                              </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="text-align: right;">
        <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
</div>
 <div *ngIf="showUpdateModal" id="createUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg full-height-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin giáo viên</h4>
          <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin giáo viên</h4>
        </div>
        <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
          <div class="modal-body no-padding">
            <div class="col-12">
                <div class="col-6">
                   <div class="form-group">
                      <label class=" form-control-label">Môn Dạy</label>
                      <div class="input-group">
                         <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
                         <select formControlName="monday" class="form-control">
                           <option value="Công Nghệ">Công Nghệ</option>
                           <option value="Địa Lý">Địa Lý</option>
                           <option value="GDCD">GDCD</option>
                           <option value="GDQP">GDQP</option>
                           <option value="Hóa Học">Hóa Học</option>
                           <option value="Sinh Học">Sinh Học</option>
                           <option value="Sử Học">Sử Học</option>
                           <option value="Thể Dục">Thể Dục</option>
                           <option value="Tin Học">Tin Học</option>
                           <option value="Toán">Toán</option>
                           <option value="Văn Học">Văn Học</option>
                           <option value="Vật Lý">Vật Lý</option>
                        </select>
                      </div>
                   </div>
                </div>
                <div class="col-6">
                   <div class="form-group">
                      <label class=" form-control-label">Tổ Dạy</label>
                      <div class="input-group">
                         <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                         <select formControlName="today" class="form-control">
                          <option value="GDCD - Công Nghệ">GDCD - Công Nghệ</option>
                          <option value="Văn Sử Địa">Văn Sử Địa</option>
                          <option value="TD - GDQP">TD - GDQP</option>
                          <option value="Hóa Sinh">Hóa Sinh</option>
                          <option value="Tin">	Tin</option>
                          <option value="Toán Lý">Toán Lý</option>
                       </select>
                      </div>
                   </div>
                </div>
                <div class="col-6">
                   <div class="form-group">
                      <label class=" form-control-label">Họ Tên</label>
                      <div class="input-group">
                         <div class="input-group-addon"><i class="fa fa-user"></i></div>
                         <input  type="text" formControlName="hoten"  class="form-control">
                      </div>
                   </div>
                   <div *ngIf="submitted && f.hoten.errors" class="d-flex invalid-feedback">
                    <div *ngIf="f.hoten.errors.required">Chưa nhập họ tên giáo viên!</div>
                </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                       <label class=" form-control-label">Ngày Sinh</label>
                       <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                          <input  type="text" formControlName="ngaysinh"  class="form-control">
                       </div>
                    </div>
                 </div>
                 <div class="col-6">
                  <div class="form-group">
                     <label class=" form-control-label">Địa Chỉ</label>
                     <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-address-book"></i></div>
                        <input  type="text" formControlName="diachi"  class="form-control">
                     </div>
                  </div>
                  <div *ngIf="submitted && f.diachi.errors" class="d-flex invalid-feedback">
                    <div *ngIf="f.diachi.errors.required">Bạn chưa nhập địa chỉ!</div>
                </div>
               </div>
                 <div class="col-6">
                    <div class="form-group">
                       <label class=" form-control-label">SĐT</label>
                       <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                          <input  type="text" formControlName="sdt"  class="form-control">
                       </div>
                    </div>
                    <div *ngIf="submitted && f.sdt.errors" class="d-flex invalid-feedback">
                      <div *ngIf="f.sdt.errors.required">Bạn chưa nhập số điện thoại!</div>
                  </div>
                 </div>
                 <div class="col-6">
                    <div class="form-group">
                       <label class=" form-control-label">Chức Vụ</label>
                       <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-wpforms"></i></div>
                          <select formControlName="chucvu" class="form-control">
                            <option value="Tổ Trưởng - GV">Tổ Trưởng - GV</option>
                            <option value="GV">GV</option>
                         </select>
                       </div>
                    </div>
                 </div>
                 <div class="col-6">
                    <div class="form-group">
                       <label class=" form-control-label">Mã Lớp</label>
                       <div class="input-group">
                          <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
                          <input  type="text" formControlName="malop"  class="form-control">
                       </div>
                    </div>
                 </div>

             </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
            <i class="fa fa-bell"></i> Làm mới
          </button>
          <button type="submit" class="btn btn-success btn-sm btn-submit">
            <i class="fa fa-save"></i> Đồng ý
          </button>
          <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
            <i class="fa fa-times"></i> Đóng lại
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>
