
 <div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>TRƯỜNG THPT Trưng Vương</h1>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title" >QUẢN LÝ TÀI KHOẢN</strong>
                        <p class="pull-right">
                            <a (click)="createModal()" class="btn btn-success btn-xs"  style="color: white;">
                            <i class="fa fa-plus"></i>&nbsp;Thêm
                            </a>
                        </p>
                    </div>
                    <div class="card-body">
                      <form class="form-horizontal" role="form" [formGroup]="formsearch"  (ngSubmit)="search()">
                        <div class="row form-group">
                          <div class="col-sm-6">
                            <input formControlName="username" class="form-control"  type="text" placeholder="Nhập họ tên" style="width: 100%;" />
                          </div>
                          <div class="col-sm-3">
                            <button (click)="search()" class="btn btn-sm btn-primary">Tìm kiếm</button>
                          </div>
                        </div>
                      </form>
                        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th >Tên tài khoản</th>
                                    <th >Mật khẩu</th>
                                    <th >Họ Tên </th>
                                    <th >Ngày Sinh</th>
                                    <th >Địa Chỉ </th>
                                    <th >SDT</th>
                                    <th >Phân Quyền</th>
                                    <th>Tác Vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let item of taikhoans, let i = index">
                                <tr>
                                  <td>{{i+1}}</td>
                                    <td>{{ item.username }}</td>
                                    <td>{{item.password}}</td>
                                    <td>{{item.hoTen}}</td>
                                    <td>{{ item.ngaySinh | date:'dd-MM-yyyy' }}</td>
                                    <td>{{ item.diaChi }}</td>
                                    <td>{{ item.sdt }}</td>
                                    <td>{{ item.phanQuyen }}</td>
                                    <td class="action-col" >
                                        <div class="btn-group">
                                          <button title="" class="btn btn-xs btn-white btn-default" (click)="openUpdateModal(item)">
                                            <i class="ace-icon fa fa-edit"></i>
                                          </button>
                                          <button title="" class="btn btn-xs btn-white btn-default"(click)="onDelete(item)">
                                            <i class="ace-icon fa fa-trash"></i>
                                          </button>
                                        </div>
                                      </td>
                                </tr>
                              </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="text-align: right;">
        <ngb-pagination [collectionSize]="totalRecords" [pageSize]="pageSize" [(page)]="page" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
</div>
<div *ngIf="showUpdateModal" id="createUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg full-height-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin tài khoản</h4>
        <h4 *ngIf="!isCreate" class="modal-title">Sửa thông tin tài khoản</h4>
      </div>
      <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal utehy-form">
        <div class="modal-body no-padding">
          <div class="col-12">
              <div class="col-6">
                 <div class="form-group">
                    <label class=" form-control-label">Tên tài khoản</label>
                    <div class="input-group">
                       <div class="input-group-addon"><i class="fa fa-user"></i></div>
                       <input type="text" formControlName="username" class="form-control">
                    </div>
                    <div *ngIf="submitted && f.username.errors" class="d-flex invalid-feedback">
                      <div *ngIf="f.username.errors.required">Bạn chưa nhập tên tài khoản!</div>
                  </div>
                 </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                   <label class=" form-control-label">Họ tên</label>
                   <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-user"></i></div>
                      <input  type="text" formControlName="hoten"  class="form-control">
                   </div>
                   <div *ngIf="submitted && f.hoten.errors" class="d-flex invalid-feedback">
                     <div *ngIf="f.hoten.errors.required">Bạn chưa nhập họ tên!</div>
                 </div>
                </div>
             </div>
             <div class="col-6">
              <div class="form-group">
                <label class=" form-control-label">Địa chỉ</label>
                <div class="input-group">
                   <div class="input-group-addon"><i class="fa fa-address-book"></i></div>
                   <input  type="text" formControlName="diachi"  class="form-control">
                </div>
                <div *ngIf="submitted && f.diachi.errors" class="d-flex invalid-feedback">
                  <div *ngIf="f.diachi.errors.required">Bạn chưa nhập địa chỉ!</div>
              </div>
              </div>
           </div>
           <div class="col-6">
            <div class="form-group">
              <label class=" form-control-label">SĐT</label>
              <div class="input-group">
                 <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                 <input  type="text" formControlName="sdt"  class="form-control">
              </div>
              <div *ngIf="submitted && f.sdt.errors" class="d-flex invalid-feedback">
                <div *ngIf="f.sdt.errors.required">Bạn chưa nhập số điện thoại!</div>
            </div>
            </div>
         </div>
         <div class="col-6">
          <div class="form-group">
            <label class=" form-control-label">Email</label>
            <div class="input-group">
               <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
               <input  type="email" formControlName="email"  class="form-control">
            </div>
            <div *ngIf="submitted && f.email.errors" class="d-flex invalid-feedback">
              <div *ngIf="f.emailerrors.required">Bạn chưa nhập email!</div>
          </div>
          </div>
       </div>
       <div class="col-6">
        <div class="form-group">
          <label class=" form-control-label">Ngày sinh</label>
          <div class="input-group">
             <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
             <input type="text" formControlName="ngaysinh"  class="form-control">
          </div>
          <div *ngIf="submitted && f.ngaysinh.errors" class="d-flex invalid-feedback">
            <div *ngIf="f.ngaysinh.errors.required">Bạn chưa chọn ngày sinh!</div>
        </div>
        </div>
     </div>
              <div class="col-6">
                 <div class="form-group">
                    <label class=" form-control-label">Mật khẩu</label>
                    <div class="input-group">
                       <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                       <input  type="password" formControlName="password" class="form-control">
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="d-flex invalid-feedback">
                      <div *ngIf="f.password.errors.required">Bạn chưa nhập mật khẩu!</div>
                  </div>
                 </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                   <label class=" form-control-label">Xác nhận mật khẩu</label>
                   <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                      <input  type="password" formControlName="nhaplaimatkhau" class="form-control">
                   </div>
                   <div *ngIf="submitted && f.nhaplaimatkhau.errors" class="d-flex invalid-feedback">
                     <div *ngIf="f.nhaplaimatkhau.errors.required">Xác thực mật khẩu bắt buộc!</div>
                     <div *ngIf="f.nhaplaimatkhau.errors.mustMatch">Xác thực lại mật khẩu không đúng</div>
                 </div>
                </div>
             </div>
        <div class="col-6">
        <div class="form-group">
          <label class=" form-control-label">Phân quyền</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
            <select formControlName="phanquyen" class="form-control">
              <option value="Admin" selected>Quản trị</option>
              <option value="User">Học sinh</option>
              <option value="Censor">Người kiểm duyệt</option>
              <option value="Writer">Người viết bài</option>
           </select>
          </div>
        </div>
     </div>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" (click)="Reset()">
          <i class="fa fa-bell"></i> Làm mới
        </button>
        <button type="submit" class="btn btn-success btn-sm btn-submit">
          <i class="fa fa-save"></i> Đồng ý
        </button>
        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
          <i class="fa fa-times"></i> Đóng lại
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
