<aside id="left-panel" class="left-panel" style="float: left;width: 278px;"  >
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="assets/img/Mask Group.jpg" alt="Logo" style="height: 60px; width: 60px;"></a>
            <a class="navbar-brand hidden" href="./"><img src="assets/img/Mask Group.jpg" alt="Logo" style="height: 60px; width: 60px;"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a [routerLink]="['/']"> <i class="menu-icon fa fa-dashboard"></i>Quản Trị </a>
                </li>
                <ng-container *ngIf="user =='Admin' || user =='Censor' || user =='Writer'">
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Tin Tức</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li *ngIf= "user =='Admin'"><i class="fa fa-id-badge"></i><a [routerLink]="['/quanly/danhmuc']">Danh Mục Tin</a></li>
                            <li><i class="fa fa-id-card-o"></i><a [routerLink]="['/quanly/tintuc']">Tin Tức</a></li>
                        </ul>
                    </li>
                </ng-container>
                <ng-container *ngIf="user =='Admin'">
                    <li class="">
                        <a [routerLink]="['/quanly/baiviet']" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Bài Viết</a>
                    </li>
                    <!-- <li class="">
                        <a [routerLink]="['/quanly/tkb']"> <i class="menu-icon fa fa-th"></i>Thời Khóa Biểu</a>
                    </li> -->

                    <li class="">
                        <a [routerLink]="['/quanly/hocsinh']"> <i class="menu-icon fa fa-user"></i>Học Sinh</a>

                    </li>
                    <li>
                        <a [routerLink]="['/quanly/giaovien']"> <i class="menu-icon fa fa-user"></i>Giáo Viên </a>
                    </li>
                    <li class="">
                        <a [routerLink]="['/quanly/lop']"> <i class="menu-icon fa fa-bar-chart"></i>Lớp Học</a>

                    </li>
                    <li>
                        <a [routerLink]="['/user/user']"> <i class="menu-icon fa fa fa-address-book"></i>Tài Khoản</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="user =='Admin' || user =='Censor' || user =='Writer'">
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Thống kê</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-id-badge"></i><a [routerLink]="['/thongke/topbaiviet']">Top bài viết nhiều quan tâm</a></li>
                        </ul>
                    </li>
                </ng-container>

            </ul>
        </div>
    </nav>
</aside>
