<section>
    <div class="container tin-chinh blog" style="background-color: #fff;">
       <div class="col-sm-12 col-xs-12 tieu-de-blog">
          <h2><a [routerLink]="['/']">Trang chủ</a> / Giới thiệu</h2>
       </div>
       <div class="col-sm-12 col-xs-12" style="padding:20px">
          <div class="content" style="text-align: justify">
             <h2>Lịch sử Trường THPT Trưng Vương</h2>
             <p>
                <br>
             </p>
             <p ><span style="font-size:14px;">Trường THPT Trưng Vương được thành lập ngày 01 tháng 10 năm 1999 theo Quyết định số 1846/1999/QĐ-UB của UBND tỉnh Hưng Yên, ngày 01 tháng 10 năm 1999, trên cơ sở tách phân hiệu 2 của trường THPT Văn Lâm. Trụ sở của trường được đặt tại xã Trưng Trắc, huyện Văn Lâm, tỉnh Hưng Yên. Trường nằm phía bắc tỉnh Hưng Yên và giáp với Thủ đô Hà Nội. Địa bàn tuyển sinh của trường gồm 05 xã và thị trấn Như Quỳnh, Tân Quang, Đình Dù, Trưng Trắc và Lạc Hồng. </span></p>
            <p ><span style="font-size:14px;">Trường nằm ở địa thế đẹp, thuộc trung tâm của huyện Văn Lâm – miền quê anh hùng, có truyền thống hiếu học.</span></p>
            <p ><span style="font-size:14px;">Những năm đầu mới thành lập và những tháng ngày cả dân tộc ra sức chiến đấu để chống Mỹ và thống nhất đất nước, cơ sở vật chất của trường nghèo nàn. Nhưng với tinh thần vượt khó, thầy trò của trường dồng sức, đồng lòng hưởng ứng phong trào thi đua “<i>Dạy tốt – Học tốt</i>” thực hiện tốt nhiệm vụ năm học. Được sự quan tâm của Huyện ủy, UBND huyện Văn Lâm, nhà trường đã từng bước đi lên, quy mô mỗi năm được mở rộng.</span></p>
            <p ><span style="font-size:14px;">Sau ngày đất nước thống nhất, được sự quan tâm của các cấp, các ngành, dưới sự lãnh đạo của Sở Giáo dục và Đào tạo Hưng Yên, Ban giám hiệu nhà trường đã định hướng xây dựng và phát triển trong giai đoạn mới.</span></p>
            <p ><span style="font-size:14px;">Từ năm 1999 đến nay, nhà trường không ngừng lớn mạnh về quy mô, về chất lượng, về đội ngũ nhà giáo, về cơ sở vật chất phục vụ cho dạy và học.</span></p>
            <p >&nbsp;</p>
            <p ><span style="font-size:14px;"><span style="color:#000000;">Trải qua 58 năm phát triển và trưởng thành,</span> Trường THPT Trưng Vương có bề dày truyền thống, có nhiều thành tích đáng tự hào: Năm 2005 trường được Nhà nước tặng thưởng Huân chương Lao động hạng Nhất; năm 2012 được Chính phủ tặng Cờ thi đua; Trường đã được công nhận Chuẩn quốc gia giai đoạn 2011 – 2015; Trường đã hoàn thành công tác tự đánh giá của 2 năm học 2011 - 2012 và năm học 2012- 2013, được Hội đồng đánh giá ngoài của Sở GD-ĐT công nhận ở Cấp độ 2 và nhiều Bằng khen, Giấy khen của các cấp. Chi bộ Đảng trường THPT Trưng Vương liên tục đạt danh hiệu chi bộ Đảng trong sạch vững mạnh; tổ chức công đoàn và Đoàn trường đạt vững mạnh nhiều năm liền. </span></p>
            <p ><span style="font-size:14px;">Có thể nói, trường THPT Trưng Vương không ngừng nỗ lực để khẳng định vị trí của một ngôi trường có nhiều truyền thống tốt đẹp. Ở một diện mạo mới, sau khi sáp nhập, trường sẽ phát huy thế mạnh và hứa hẹn sự phát triển bền vững, đáng là địa chỉ tin cậy của nhân dân trong huyện Trưng Vương và cả tỉnh Hưng Yên.</span></p>
          </div>
       </div>
    </div>
 </section>
